upstream your_django_app {
    server {{ ansible_host }}:8001;
    server {{ ansible_host }}:8002;
    server {{ ansible_host }}:8003;
  
}

server {
    listen 80;
    server_name {{ ansible_host }} ;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root /opt/django-app/static;  # Adjust the path to your static directory
    }

    location / {
        include proxy_params;
        proxy_pass http://your_django_app;  # Use the gunicorn socket
    }

}

